$usr = "__USER__";  # your username -- CHANGEME
$path = "__PATH__";  # path to chrox -- CHANGEME
        if($path !~ /\/$/) { $path.="/"; }
$logf = "$path$usr.log";  # log file for chrocks

$GIT = "/opt/local/bin/git"; # possibly CHANGEME

$nytz = 0; # offset in hours from nyc time (dumb hack)

$XT = "/usr/X11/bin/xterm";               # path to xterm -- possibly CHANGEME

1; # When requiring a library in perl it has to return 1.

