$usr = "__USER__";  # your username -- CHANGEME
$path = "__PATH__";  # path to tocks -- CHANGEME
        if($path !~ /\/$/) { $path.="/"; }
$logf = "$path$usr.log";  # log file for tocks

$GIT = "/opt/local/bin/git"; # possibly CHANGEME

$XT = "/usr/X11/bin/xterm";  # path to xterm -- possibly CHANGEME

$nytz = 0; # offset in hours from nyc time (dumb hack)


1; # When requiring a library in perl it has to return 1.

